<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appeals Registration</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <form id="form">
        <div>
            <span>Surname: </span>
            <input type="text" name="surname">
        </div>
        <div>
            <span>Name: </span>
            <input type="text" name="name">
        </div>
        <div>
            <span>Patronymic: </span>
            <input type="text" name="patronymic">
        </div>
        <div>
            <span>Phone: </span>
            <input type="number" name="phone">
        </div>
        <div>
            <span>Appeal Text: </span>
            <input type="text" name="appeal_text">
        </div>
        <input type="submit">
    </form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="../js/scripts.js"></script>
</html>
